@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
:root{
	--a: white;
	--b: black;
	--bg: gold;
}
body{
	height: 200vh;
	background: var(--a);
	display: flex;
}
.hero{
	position: absolute;
	height: 100%;
	width: 100%;
	background: url('images/bg.jpg');
}
nav{
	position: relative;
	height: 60px;
	width:100%;
	z-index: 3;
}
nav .logo{
	color: var(--bg);
	font-size: 44px;
	font-weight: 900;
	margin: 0px 44px;
}
nav ul{
	position: absolute;
	display: flex;
	right:44px;

	margin-top: -70px;
}
nav ul li{
	list-style: none;
	margin: 20px 10px;
	padding: 8px 15px;
}
nav ul li a{
	font-size: 17px;
	color: var(--a);
	padding: 8px 17px;
	text-decoration: none;
	font-weight: 600;
}
a:hover,.active{
	border-bottom: 2px solid var(--bg);
	padding: 8px 17px;
	border-radius: 100px;
	transition: 1s;
}
.active,.active:hover{
	color: var(--b);
	background: var(--bg);
}
img{
	position: absolute;
	right: 0;
	width: 450px;
	bottom: 0;
	margin-right: 44px;
}
h2{
	position: absolute;
	color: var(--bg);
	font-size: 30px;
	left: 44px;
	top: 30%;
	margin: 10px;
}
span{
	font-size: 50px;
	color: var(--a);
	font-weight: 900;
}
i{
	color: var(--bg);
	font-weight: 100;
}
.hero p{
	position: absolute;
	color: gray;
	left: 44px;
	top: 60%;
	margin: 10px;
}
button{
	position: absolute;
	height: 50px;
	width: 250px;
	font-weight: 600;
	border: 2px solid var(--bg);
	left: 44px;
	top: 80%;
	background: none;
	color: var(--bg);
	font-size: 20px;
	font-weight: 600;
	transition: 1s;
	cursor: pointer;
}
button:hover{
	background: var(--bg);
	color: var(--b);
}
section{
	position: absolute;
	height: 100vh;
	width: 100%;
/*	background: var(--b);*/
    top: 100vh;
    bottom: 0;
    display: flex;
    align-content: center;
}
h1{
	color: var(--b);
	font-size: 70px;
	font-weight: 800;
	letter-spacing: 4px;
	margin: 62px 138px;
}
.about{
	position: absolute;
	color: var(--b);
	font-size: 70px;
	margin: 70px -380px;
	font-size: 800;
}
.box-imge1{
	position: absolute;
	height: 220px;
	width: 220px;
	margin: 285px 139px;
	background: url("images/1.jpg");
/*	background-position: center;*/
	background-size: cover;
	border-radius: 50px;
}
.box-imge2{
	position: absolute;
	height: 220px;
	width: 220px;
	margin: 360px 430px;
	background: url("images/2.jpg");
	background-position: center;
	background-size: cover;
	border-radius: 50px;
}
.about-paragrph{
	color: var(--b);
	font-size: 23px;
	font-weight: 300;
	height: 200px;
	width: 500px;
	margin: 360px 30px;
}
.socil{
	position: absolute;
	bottom: 30px;
	margin: 0px 47%;
	height: 50px;
	width: 300px;
}
.fa-brands{
	position: relative;
	font-size: 40px;
	color: var(--b);
	cursor: pointer;
	transition: 1s;
}
.fa-brands:hover{
	color: var(--bg);
	transform: scale(0.90);
}